echo annotated-types==0.7.0 > requirements.txt
echo anyio==4.7.0 >> requirements.txt
echo blinker==1.9.0 >> requirements.txt
echo certifi==2024.12.14 >> requirements.txt
echo charset-normalizer==3.4.1 >> requirements.txt
echo click==8.1.8 >> requirements.txt
echo colorama==0.4.6 >> requirements.txt
echo fastapi==0.115.6 >> requirements.txt
echo Flask==3.1.0 >> requirements.txt
echo gTTS==2.5.4 >> requirements.txt
echo h11==0.14.0 >> requirements.txt
echo idna==3.10 >> requirements.txt
echo itsdangerous==2.2.0 >> requirements.txt
echo Jinja2==3.1.5 >> requirements.txt
echo MarkupSafe==3.0.2 >> requirements.txt
echo numpy==2.2.1 >> requirements.txt
echo packaging==24.2 >> requirements.txt
echo pandas==2.2.3 >> requirements.txt
echo pillow==11.0.0 >> requirements.txt
echo pydantic==2.10.4 >> requirements.txt
echo pydantic_core==2.27.2 >> requirements.txt
echo PyMuPDF==1.25.1 >> requirements.txt
echo pytesseract==0.3.13 >> requirements.txt
echo python-dateutil==2.9.0.post0 >> requirements.txt
echo pytz==2024.2 >> requirements.txt
echo requests==2.32.3 >> requirements.txt
echo six==1.17.0 >> requirements.txt
echo sniffio==1.3.1 >> requirements.txt
echo starlette==0.41.3 >> requirements.txt
echo typing_extensions==4.12.2 >> requirements.txt
echo tzdata==2024.2 >> requirements.txt
echo urllib3==2.3.0 >> requirements.txt
echo uvicorn==0.34.0 >> requirements.txt
echo Werkzeug==3.1.3 >> requirements.txt
